.new-game-view {
    padding: 3em;
    margin: 2em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2px;
}

.new-game-input {
    height: 3em;
    width: 6em;
}